*.tss
*.suo
*.bak
bin/
obj/
*.exe
*.pdb
*.dll
packages/
*.svn
*.config
Win32/
x64/
*.ncb
*.VC.db
*.VC.opendb
ipch/
*.aps
debug/
release/
*.user



FractalX/.vs/FractalX/v15/Solution.VC.db-shm
FractalX/.vs/FractalX/v15/Solution.VC.db-wal
